.App {
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.books {
    display: flex;
    gap: 15px;
}

.book {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

h1,
h2,
p {
    margin: 10px 0 10px 0;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background: rgb(203, 238, 227);
}

.delete {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
}

.update {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton {
    width: 270px;
    border: none;
    padding: 10px;
    background-color: #9b5faa;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.addButton {
    margin: 15px;
    padding: 10px;
    border: none;
    background-color: #9b5faa;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

a {
    all: unset;
    cursor: pointer;
}
